* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  margin: 0;
}

#header {
  position: fixed;
  top: var(--header-top);
  left: var(--header-left);
}

#bio {
  position: absolute;
  /* right: 5vw; */
  left: var(--bio-left);
  top: var(--bio-top);
  width: var(--bio-width);
}

#project-image {
  position: absolute;
  width: var(--img-width);
  height: var(--img-height);
  bottom: var(--img-bottom);
  left: var(--img-left);
  mix-blend-mode: multiply;
  transform: translateX(-50%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  pointer-events: none;
}

#project-list {
  width: var(--list-width);
  position: absolute;
  top: var(--list-top);
  bottom: var(--list-bottom);
  left: var(--list-left);
  right: var(--list-right);
  display: none;
}

.project-item {
  font-family: arizona sans;
  cursor: pointer;
  font-weight: normal;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
  margin-bottom: 10px;
  text-align: left;
}

.project-item a {
  color: black;
  text-decoration: none;
}

.project-item.active {
  font-weight: bold;
}

.project-item:hover {
  font-weight: bold;
  text-decoration: underline;
  text-decoration-thickness: from-font;
  text-underline-offset: 2px;
}

p {
  font-family: arizona sans;
  font-size: 14px;
  font-weight: 200;
  text-align: left;
  margin: 0;
}

p a {
  color: black;
  text-decoration: none;
  font-weight: normal;
}

p a:hover {
  text-decoration: underline;
  text-decoration-thickness: from-font;
  text-underline-offset: 2px;
}

#credit {
  position: absolute;
  bottom: var(--credit-bottom);
  left: var(--credit-left);
  font-family: arizona sans;
  font-size: 12px;
  display: none;
}

#phone-message {
  display: block;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  position: fixed;
  bottom: var(--message-bottom);
  left: 50%;
  transform: translateX(-50%);
}
