#brushed {
  display: block;
  position: relative;
}

#brushed .video {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#brushed .video video {
  height: 100vh;
  object-fit: cover;
}

#brushed .text {
  position: absolute;
  bottom: 0px;
  width: 100vw;
}

#comparison {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  top: -100px;
  /* position: absolute; */
  z-index: 10;
  position: relative;
}

.video-brushed {
  background: rgb(230, 230, 230);
}
#comparison div.video {
  width: 50%;
}

#comparison div.video video {
  cursor: pointer;
  width: 100%;
  flex: 1;
  transition: opacity 500ms;
}

#comparison div.video video:hover {
  opacity: 0.5;
}

.talk::after {
  content: "Talk talk featuring troye sivan, Charli xcx";
  color: rgb(73, 73, 73);
  position: absolute;
  font-family: arizona sans;
  font-size: 0.9em;
  font-weight: bold;
  top: 100%;
  width: 100%;
  text-align: center;
}

.btb::after {
  content: "Between the Bars, Elliott Smith";
  color: rgb(73, 73, 73);
  position: absolute;
  font-family: arizona sans;
  font-size: 0.9em;
  font-weight: bold;
  width: 100%;
  text-align: center;
  top: 100%;
}
